<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shengui.app.android.shengui">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.shengui.app.android.shengui.android.base.ShenGuiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shengui.app.android.shengui.android.ui.activity.activity.MainTabActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shengui.app.android.shengui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.AnimActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgSelectItemActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgProductDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
             />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgPushTieziDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
          />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgPushGongQiuDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.utilsview.MultiImageSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgPushQuestionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgQuanziListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.video.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.video.RecordVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgHotQuanZiListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgGuiQuanDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgGuiQuanDetailActivityNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.SgQuanZiContentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name="com.shengui.app.android.shengui.android.ui.utilsview.VerticalScrollView"/>
        <activity
            android:name="com.shengui.app.android.shengui.android.ui.activity.activity.video.VideoPreviewActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>